@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/zen-dots-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

img {
    max-inline-size: 100%;
    block-size: auto;
    height: 600px;
    width: 100%;
}

body{
    font-family: 'Zen Dots', cursive;
}

.banner{
    background-size: cover;
}

.gallery__inner{
    margin-top: 50px;
}

.banner__title{
    color: white;
    font-size: 60px;
    padding: 150px 0;
}

.gallery__title{
    font-size: 48px;
}
